name: Build AppImage
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y build-essential meson ninja-build pkg-config wget git vala libgtk-4-dev libadwaita-1-dev libgee-0.8-dev libjson-glib-dev libqqwing-dev yelp-tools
      - name: Build
        run: bash build/build-gnome-sudoku-appimage.sh
      - uses: actions/upload-artifact@v4
        with:
          name: AppImage
          path: "*.AppImage"
